
{%extends "admin_layout.html"%}
  {%block conten%}

  <div class="container">
    <div class ="row">                  
      <div class="col">
        <!--Venue1 Card here-->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Admin Summary</h5>
            <h6 class="card-subtitle mb-2 text-muted">Theatres/Capacity</h6>
            <img src="/static/images/theatre_summary.jpeg" width="500" height="500">

          </div>
        </div>    
      </div>  
    </div>
  </div> 
  {%endblock%}
 