
{%extends "admin_layout.html"%}
{%block conten%}

                  <div class="container">
                    {%if theatres%}
                    <div class ="row">
                      {%for theatre in theatres%}                        
                      <div class="col">
                        <!--Venue1 Card here-->
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">{{theatre.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{theatre.location}}</h6>
                            {%if theatre.shows%}

                            <table>
                              <tr><th>ID</th><th>Name</th><th>Time</th></tr>
                              {%for show in theatre.shows%}
                              <tr><td> {{show.id}}</td><td> {{show.name}}</td> <td> {{show.date_time}}</td></tr>
                              {%endfor%}
                            </table>
                            {%else%}
                            <h4> No shows here</h4>
                            {%endif%}

                            <a href="/show/{{theatre.id}}/{{name}}" type="button" class="btn btn-outline-primary">+Add Show</a>
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                    </div>
                    {%else%}
                    <h3 class="center"> No Venues Available</h3>
                    {%endif%}
                  </div>    
                  <div class="center"> <a href="/venue/{{name}}" type="button" class="btn btn-primary">+Add Venue</a> </div>
                  
{%endblock%}
 