
{%extends "user_layout.html"%}
{%block conten%}
                  <!-- VENUE 1 STARTED-->
                <div class="outer_box">   
                  Venue 1
                  <div class="container">
                    <div class ="row">
                      <div class="col">
                        <!--Show Card here-->
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Show 1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Action Movie</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn btn-outline-primary">Book</button>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                         <!--Show Card here-->
                         <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Show 2</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Horrer Movie</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn btn-outline-primary">Book</button>
                          </div>
                        </div>                          
                      </div>
                    </div>
                  </div>                  
                </div>   
                <!--End of Venue 1Card here-->      
{%endblock%}
 